body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    font-size: 2vw;
}
#cont-principal {
    background-color: white;
    margin: 5%;
    border-radius: 10vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-weight: normal;
    text-align: center;
}
#inicio {
    width: 80%;
}
#logo {
    padding: 2%;
}
hr {
    margin-top: -5px;
    margin-bottom: -5px;
}
#andres {
    display: grid;
    grid-template-areas: 'a1 a2'
                         'a3 a3';
}
#cont-andres-arriba {
    display: flex;
    justify-content: center;
    align-content: center;
}
#cont-img-andres {
    text-align: center;
    float: left;
    grid-area: a1;
}
#cont-img-andres p {
    color: darkturquoise ;
}
#desc-andres {
    margin-top: 15%;
    grid-area: a2;
    width: 68%;
    height: 40%;
    float: right;
    text-align: initial;
}
#cont-andres-abajo {
    grid-area: a3;
    text-align: initial;
}

#camila {
    display: grid;
    grid-template-areas: 'c1 c2'
                         'c3 c3';
}
#desc-camila {
    grid-area: c1;
    width: 100%;
    height: 40%;
    margin-top: 20%;
    text-align: initial;
    float: left;
}
#img-camila {
    text-align: center;
    float: right;
    grid-area: c2;
}
#img-camila p {
    color: darkturquoise;
}
#abajo-camila {
    grid-area: c3;
    text-align: initial;
}
#carolina {
    display: grid;
    grid-template-areas: 'cr1 cr2'
                         'cr3 cr3';
}
#img-carolina {
    width: 120%;
    grid-area: cr1;
    text-align: center;
    float: left;
    margin-left: -10%;
}
#img-carolina p {
    color: darkturquoise;
    width: 80%;
    margin-left: 7.5%;
}
#desc-carolina {
    width: 100%;
    text-align: initial;
    grid-area: cr2;
    margin-top: 10%;
    margin-top: 10%;
}
#abajo-carolina {
    grid-area: cr3;
    text-align: initial;
}
#cont-footer {
    display: grid;
    grid-template-areas: 'p1 p2 p3'
                         'p1 p2 p3';
}
#foot1 {
    grid-area: p1;
}
#foot2 {
    grid-area: p2;
}
#foot3 {
    grid-area: p3;
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    body {
        font-size: 3.5vw;
    }
    #cont-img-andres {
        width: 40%;
    }
    #desc-andres {
        margin-top: 0;
    }
    #img-camila {
        width: 70%;
        margin-left: 20%;
    }
    #desc-camila {
        width: 115%;
        margin-top: 0;
    }
    #img-carolina {
        width: 100%;
        margin-left: -20%;
    }
    #desc-carolina {
        margin-top: 0;
        margin-left: -30%;
        width: 130%;
    }
}